#root {
    margin: 0 auto;
    text-align: center;
    --color1: #05386B;
    --color2: #379683;
    --color3: #5CDB95;
    --color4: #8EE4AF;
    --color5: #EDF5E1;
}




.headersetup {
    background: var(--color1);
    background: url(src/assets/pattern.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(src/assets/pattern.png), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2)100%);
    background: url(src/assets/pattern.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32fc46', endColorstr='#7db9e8', GradientType=1);
    background-size: cover;

    padding-bottom: 30px;
}


nav {
    background-color: var(--color4);
    padding-top: 25px;
    padding-bottom: 25px;
    color: colo;

}

.tx {
    color: var(--color1);
    font-weight: bold;

}

.tx-1{
color: var(--color1);
font-weight: bold;

}

.tx-header {
    color: var(--color5);
    font-size: 200%;
    font-weight: bold;
    text-shadow: -2px 2px 0px #00e6e6,
        -4px 4px 0px #01cccc,
        -6px 6px 0px #00bdbd;

}

.btn-cr {

    color: #05386B;

}

.spacer {
     aspect-ratio: 900/600 ;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.layer1 {
    background-image: url(./layer/layer.svg);
}


.mainlink {
    text-align: justify;
}


.bg-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bg-1 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 271px;
}

.bg-1 .shape-fill {
    fill: var(--color1);
}

.bg-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bg-2 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 118px;
}

.bg-2 .shape-fill {
    fill: var(--color2);
}

.bg-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bg-3 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 81px;
}

.bg-3 .shape-fill {
    fill: var(--color3);
}

.bg-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bg-4 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 200px;
}

.bg-4 .shape-fill {
    fill: var(--color4);
}