{{define "mainpage"}}

{{template "header"}}


<style>
    .btn-outline-custom {
        color: #7d52b6;
        border-color: #7d52b6;
    }

    .btn-outline-custom:focus {
        box-shadow: 0 0 0 0.2rem #b3a7a7;
        -webkit-box-shadow: 0 0 0 0.2rem #b3a7a7;
        outline: 0;
    }

    .btn-outline-custom:hover,
    .btn-outline-custom:active {
        color: #fff;
        background-color: #7d52b6;
        border-color: #7d52b6;
    }
</style>



<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <p>Информация о пользователе : {{.Name}}</p>
                {{if eq .Name "bob"}}
                <span>О, привет {{.Name}}</span>
                {{else}}
                <span>Мы вас не знаем</span>
                {{end}}
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-custom">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>

{{template "footer"}}

{{end}}