{{define "main"}}

{{template "header"}}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus saepe distinctio esse? Blanditiis optio, dicta fugit necessitatibus minus deleniti natus incidunt nostrum neque nesciunt? Eos incidunt quas sapiente libero ipsam.</h1>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>

{{template "footer"}}

{{end}}