{{define "registration"}}

{{template "header"}}


<style>
    .btn-outline-custom {
        color: #7d52b6;
        border-color: #7d52b6;
    }

    .btn-outline-custom:focus {
        box-shadow: 0 0 0 0.2rem #b3a7a7;
        -webkit-box-shadow: 0 0 0 0.2rem #b3a7a7;
        outline: 0;
    }

    .btn-outline-custom:hover,
    .btn-outline-custom:active {
        color: #fff;
        background-color: #7d52b6;
        border-color: #7d52b6;
    }
</style>



<section>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="/auth_user" method=" post">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Имя</label>
                        <input type="name" name="username" class="form-control" id="exampleInputPassword1"
                            placeholder="Введите ваше имя">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Фаммилия</label>
                        <input type="seccondname" name="seccondname" class="form-control" id="exampleInputPassword1"
                            placeholder="Введите вашу фамилию">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                        <input type="email" name="email" class="form-control" placeholder="Введите почту"
                            aria-describedby="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Пароль</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Введите пароль">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-custom">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>
<script>
    function submitHandler() {
        let emailValue = document.getElementById('email').value;
        let passwordValue = document.getElementById('password').value;

        const url = 'http://localhost:3333/auth/';
        const data = { username: 'example' };

        try {
            const response = await fetch(url, {
                method: 'POST', // или 'PUT'
                body: JSON.stringify(data), // данные могут быть 'строкой' или {объектом}!
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const json = await response.json();
            console.log('Успех:', JSON.stringify(json));
        } catch (error) {
            console.error('Ошибка:', error);
        }


        if (emailValue == "" && passwordValue) {
            alert("Ввод пустого поля");
        } else {
            window.location = "http://localhost:3333/auth/" + emailValue + passwordValue
        }
    }
</script>
{{template "footer"}}

{{end}}